@font-face {
    font-family: 'PoiretOne';
    src: url("fonts/PoiretOne-Regular.ttf") format('truetype');
}

@font-face {
    font-family: 'OpenSans';
    src: url("fonts/OpenSans-Regular.ttf") format('truetype');
}

@font-face {
    font-family: 'Comfortaa';
    src: url("fonts/Comfortaa-Regular.ttf") format('truetype');
}

body {
    font-family: OpenSans, serif;
    font-weight: bold;
}
